#title{
    color: white;
    background-color: aqua;
    border-radius: 7px;
    border-color: aqua;
}
#button{
    color:black;
    background-color: blue;
    border-radius: 7px;
    border-color: black;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: red;
}
a{
    text-decoration:solid;
}
